.RegisterForm {
	padding-top: -4vh;
	margin-left: 10vw;
}
.RegisterForm > input {
	margin-bottom: 10px;
}
.firstName {
	width: 11.5vw;
	margin-right: 2vw;
}
.lastName {
	width: 11.5vw;
}
.buttons {
	border-color: blue;
	margin-top: 1vh;
	padding: 1vw 20vh;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 0.5vw;
}
.buttons:hover {
	background-color: #3030db;
	color: white;
	font-weight: bold;
}
